<a href="https://colab.research.google.com/github/Godofin/ChallengeAluraVoz-DataScience/blob/main/ChallengeDataScienceP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0 - Import Librarys

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
from pandas.io.json import json_normalize  
import requests

# 1 - Import Data

In [9]:
data = pd.read_json('https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json')
data.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

# 2 - Explore the content

In [15]:
data.customer[0]

{'gender': 'Female',
 'SeniorCitizen': 0,
 'Partner': 'Yes',
 'Dependents': 'Yes',
 'tenure': 9}

In [16]:
data.phone[0]

{'PhoneService': 'Yes', 'MultipleLines': 'No'}

In [17]:
data.internet[0]

{'InternetService': 'DSL',
 'OnlineSecurity': 'No',
 'OnlineBackup': 'Yes',
 'DeviceProtection': 'No',
 'TechSupport': 'Yes',
 'StreamingTV': 'Yes',
 'StreamingMovies': 'No'}

In [18]:
data.account[0]

{'Contract': 'One year',
 'PaperlessBilling': 'Yes',
 'PaymentMethod': 'Mailed check',
 'Charges': {'Monthly': 65.6, 'Total': '593.3'}}

# 3 - Normalize the Columns

In [20]:
customer_data = pd.json_normalize(data.customer)
customer_data.sample(5)

      gender  SeniorCitizen Partner Dependents  tenure
2964  Female              1      No         No       7
2341    Male              1      No         No      57
4121  Female              0      No         No       4
6154    Male              0     Yes        Yes       6
5592  Female              0      No         No       7

In [21]:
phone_data = pd.json_normalize(data.phone)
phone_data.sample(5)

     PhoneService     MultipleLines
403           Yes               Yes
5325          Yes               Yes
122           Yes               Yes
5108           No  No phone service
7008          Yes                No

In [22]:
internet_data = pd.json_normalize(data.internet)
internet_data.sample(5)

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
3287,Fiber optic,No,No,Yes,Yes,No,Yes
1828,DSL,No,No,No,No,No,No
5725,Fiber optic,Yes,Yes,No,Yes,Yes,Yes
5778,DSL,No,No,Yes,No,Yes,Yes
6274,DSL,No,No,No,Yes,Yes,Yes

In [23]:
account_data = pd.json_normalize(data.account)
account_data.sample(5)

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
4770,One year,No,Electronic check,50.75,688.2
940,Two year,Yes,Credit card (automatic),99.35,6944.5
3065,Month-to-month,Yes,Bank transfer (automatic),80.10,679.3
3905,Two year,No,Credit card (automatic),61.45,2302.35
3431,Month-to-month,Yes,Electronic check,84.60,360.1

# 4 - Join Normalizations